<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.healthkit.access</key>
	<array>
		<string>read</string>
	</array>
	<key>com.apple.developer.healthkit.types</key>
	<array>
		<string>HKQuantityTypeIdentifierStepCount</string>
		<string>HKQuantityTypeIdentifierDistanceWalkingRunning</string>
		<string>HKQuantityTypeIdentifierActiveEnergyBurned</string>
		<string>HKCategoryTypeIdentifierMindfulSession</string>
		<string>HKCategoryTypeIdentifierSleepAnalysis</string>
		<string>HKQuantityTypeIdentifierBodyMass</string>
		<string>HKQuantityTypeIdentifierHeight</string>
	</array>
</dict>
</plist>
